# 1. Virtual environment
venv/
.env

# 2. Python
__pycache__/
*.py[cod]
*$py.class

# 3. Model 
models/*.pkl

# 4. Evaluation 
outputs/*
!outputs/*.png
# 5. VS Code & OS
.vscode/
.idea/
Thumbs.db
desktop.ini